<div>
  <h5>{{comment.author.name}} says</h5>
  <div>{{comment.comment_content|wpautop}}</div>
  <section>
    {% if post.comments %}
      <strong>replies</strong>
      <div>
        {% for cmt in comment.children %}
          {% include 'partials/comment.twig' with {comment: cmt} %}
        {% endfor %}
      </div>
    {% endif %}
    {#{% include 'partials/comment-form.twig' %}#}
  </section>
</div>
