<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      Hi :D
      {{function('get_footer')}}
      {{function('wp_footer')}}
    </div>
  </div>
</footer>
