<footer class="footer">
  <div class="container">
    <div class="content flex has-text-centered">
      Hosted on <a href="https://github.com/jberry93/baldr">Github</a> :D
      {{function('get_footer')}}
      {{function('wp_footer')}}
    </div>
  </div>
</footer>
