{% extends 'base.twig' %}

{% block content %}
  <div class="tile is-vertical is-ancestor">
    {% for post in posts %}
      {% include 'partials/post-teaser.twig' %}
    {% endfor %}
  </div>
  {% include 'partials/pagination.twig' with {pagination: posts.pagination({show_all: false, mid_size: 1, end_size: 2})} %}
{% endblock %}
