{% extends 'base.twig' %}
{% block content %}
  <article id="post-{{post.ID}}">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h2 class="title" align="center">{{post.title}}</h2>
        </div>
      </div>
    </section>
    <section class="section">
      {{post.content}}
    </section>
    <section class="section">
      <div class="container">
        {% if post.comments %}
          {% for cmt in post.comments %}
            {% include 'partials/comment.twig' with {comment: cmt} %}
          {% endfor %}
        {% else %}
          <strong align="center">No comments here</strong>
        {% endif %}
      </div>
      {% if post.comment_status == 'closed' %}
        <strong align="center">Comments are closed</strong>
      {% else %}
        {% include 'partials/comment-form.twig' %}
      {% endif %}
    </section>
  </article>
{% endblock %}
